.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.item {
    width: 80%;
}

@media only screen and (min-width: 576px) {
    .parent {
        flex-direction: row;
    }
    .item {
        width: 25%;
        height: 25%;
        cursor: pointer;
    }
}