article {
    height: 100%;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    font-size: 0.85rem;
}

.item {
    text-align: left
}

@media only screen and (min-width: 375px) {
    .parent {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .parent {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 992px) {
    .parent {
        flex-wrap: wrap;
        align-items: start;
    }
}
