.navigation {
    transition: all 0.4s;
}

.navigation:hover {
    background-color: #343a40;
}

.active {
    visibility: visible;
    transition: all 200ms ease-in;
}

.hidden {
    visibility: hidden;
    transition: all 200ms ease-out;
    transform: translate(0, -100%);
}