.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.item {
    text-align: center;
}


@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }
    .parent {
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 4.5rem;
    }
    .parent {
        flex-direction:  row;
    }
    .item:nth-child(1) {
        max-width: 30%;
    }
    .item:nth-child(2) {
        flex: 0 0 50%;
        /* margin-left: auto;
        margin-right: auto; */
    }
    nav.item {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    .item:nth-child(1) {
        max-width: 25%;
    }
}
