html, body {
    height: 100vh;
    font-size: 100%;
    scroll-behavior: smooth;
}

main {
    height: 100vh;
	scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    height: 100%;
    padding: 0 12px;
    display: flex;
	flex-direction: column;
	justify-content: center;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}